@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700;800&display=swap");

:root {
  /* Primary Colors */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0.1);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.result-summary-container {
  display: flex;
  flex-direction: row;
}

.result-summary-container .result,
.result-summary-container .summary {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: center;
  width: 18em;
}

/* Result styles */
.result {
  background-image: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  border: 1px solid black;
  border-radius: 1em;
  color: var(--white);
  padding: 2em;
  text-align: center;
  z-index: 1;
}

.result .heading {
  margin-top: 0;
  margin-bottom: 25px;
  color: var(--light-lavender);
  font-size: 18px;
  font-weight: 500;
}

.result .score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
  border-radius: 50%;
  height: 10em;
  width: 10em;
  text-align: center;
}

.score h1 {
  font-size: xxx-large;
  font-weight: 800;
  margin: 0;
}

.score p {
  color: var(--light-lavender);
  font-weight: 500;
  margin: 0;
}

.rating .rate {
  font-weight: 500;
  margin: 25px;
}

.rating .rating-info {
  color: var(--light-lavender);
  margin: 0;
}

/* Summary Styles */
.summary {
  padding: 2em;
  border: 0;
  border-bottom-right-radius: 1em;
  box-shadow: 5px 20px 30px 5px var(--pale-blue);
}

.summary .heading {
  margin: 0;
  color: var(--dark-gray-blue);
  font-size: larger;
  align-self: flex-start;
  width: 100%;
}

.summary .category {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  list-style: none;
  padding: 0;
  width: 100%;
}

.category li {
  display: flex;
  flex-direction: row;
  padding: 1em;
  border-radius: 0.5em;
  font-weight: 700;
}

.category li img {
  margin-inline-end: 0.5em;
}

.category li .item {
  flex-grow: 2;
}

.category li:first-child {
  color: var(--light-red);
  background-color: hsla(0, 100%, 67%, 0.1);
}

.category li:nth-child(2) {
  color: var(--orangey-yellow);
  background-color: hsla(39, 100%, 56%, 0.1);
}

.category li:nth-child(3) {
  color: var(--green-teal);
  background-color: hsla(166, 100%, 37%, 0.1);
}

.category li:last-child {
  color: var(--cobalt-blue);
  background-color: hsla(234, 85%, 45%, 0.1);
}

.category .item-score {
  color: var(--dark-gray-blue);
  font-weight: 500;
}

.summary .continue-btn {
  color: var(--pale-blue);
  background-color: var(--dark-gray-blue);
  border: 1px solid transparent;
  border-radius: 2em;
  font-weight: 600;
  padding: 1em;
  width: 100%;
}

.summary .continue-btn:hover {
  cursor: pointer;
}

.summary .continue-btn:active {
  background-image: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

/* Responsive design */
@media screen and (max-width: 600px) {
  .result-summary-container {
    flex-direction: column;
    height: 100%;
  }

  .result,
  .summary {
    width: 100% !important;
  }

  .result {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
